/* Estilo global para usar a fonte Poppins */
body.variant-B {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #4D4D4D;
}

/* Estilo do container principal */
.container.variant-B {
  min-width: 400px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4D4D4D;
}

.input-container.variant-B {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.input-container.variant-B i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #CF080F;
}

.input-field.variant-B {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 0 40px 0 40px; /* Espaço para o ícone */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #CF080F;
}

/* Estilo do botão Entrar */
.button-button-cadastro.variant-B {
  width: 150px;
  height: 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #255362;
  margin-top: 30px;
  padding: 10px;
  align-self: center;
}

.button-button-cadastro:hover.variant-B {
  background-color: #1b3b46;
}

/* Estilo do logo Rachaí */
.logo-rachai1.variant-B {
  width: 300px;
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
  display: block;
  object-fit: contain;
}

.error.variant-B {
  color: white;
  font-size: 14px;
  margin-top: 5px;
}