/* Estilo do container principal */
.container-cadastro2.variant-B {
  min-width: 400px;
  /* Define a largura máxima do container */
  max-width: 1000px;
  margin: 0 auto;
  /* Centraliza horizontalmente */
  padding: 20px;
  /* Espaçamento interno */
  height: 100vh;
  /* Ocupa toda a altura da tela */
  display: flex;
  flex-direction: column;
  /* Alinha elementos em coluna */
  align-items: center;
  /* Centraliza horizontalmente */
  justify-content: center;
  background-color: #4D4D4D;
  /* Cor de fundo */
}

.container-cadastro2.variant-B form {
  width: 80%;
  /* Largura total do formulário */
  margin: 0 auto;
  /* Centraliza horizontalmente */
  padding: 20px;
  /* Espaçamento interno */

}

.input-container-cadastro2.variant-B {
  position: relative;
  width: 93%;
  margin: 10px 0;
}

.input-container-cadastro2.variant-B i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #CF080F;
}

.input-field-cadastro2.variant-B {
  width: 100%;
  /* Garante que a caixa de texto ocupe 100% do container */
  height: 40px;
  /* Altura consistente para todos os campos */
  margin: 10px 0;
  /* Margem entre os campos */
  padding: 0 10px 0 40px;
  /* Padding interno */
  border: 1px solid #ccc;
  /* Borda padrão */
  border-radius: 5px;
  /* Bordas arredondadas */
  font-family: 'Poppins', sans-serif;
  /* Fonte Poppins */
}

.botoes-acoes-cadastro2.variant-B {
  display: flex;
  justify-content: space-around;
}

/* Estilo do botão Cadastrar-se */
.button-button-cadastro2.variant-B {
  width: 150px;
  /* Largura total */
  height: 60px;
  /* Altura do botão */
  border: none;
  /* Remove bordas padrão */
  border-radius: 5px;
  /* Bordas arredondadas */
  cursor: pointer;
  /* Cursor de pointer ao passar sobre o botão */
  font-size: 16px;
  /* Tamanho da fonte */
  color: white;
  /* Cor do texto */
  background-color: #CF080F;
  /* Cor do botão de cadastro */
  margin-top: 30px;
  /* Margem acima do botão */
  padding: 10px;
  align-self: center;
}

/* Hover do botão Cadastrar-se */
.button-button-cadastro2.variant-B:active {
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.50);
  /* Tom mais escuro para hover */
}

/* Estilo do logo Rachaí */
.logo-rachai1-cadastro2.variant-B {
  width: 300px;
  /* Largura reduzida para 30% */
  max-width: 200px;
  /* Largura máxima reduzida para 100px */
  margin-top: 20px;
  /* Espaço acima do logo */
  margin-bottom: 50px;
  /* Mantém a margem abaixo do logo para aproximar dos botões */
  display: flex;
  /* Garante que a imagem seja um bloco */
  align-items: center;
  object-fit: contain;
  /* Faz com que a imagem mantenha suas proporções */
}

.error-cadastro2.variant-B {
  color: red;
  /* Cor vermelha para mensagens de erro */
  font-size: 14px;
  /* Tamanho da fonte */
  margin-top: 5px;
  /* Margem acima do texto */
}